@import '../main.sass'

.btn
  background-color: #fff
  cursor: pointer
  border: 1px solid transparent
  border-color: #dcdee2
  border-radius: 4px
  padding: 6px 15px
  transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear
  vertical-align: middle
  line-height: 1.5
  color: #515a6e
  font-size: 12px
  outline: 0
  &:hover
    border-color: $btn-hover-color
    color: $btn-hover-color
.btn-primary
  background-color: $btn-default-color
  border-color: $btn-default-color
  color: #fff
  &:hover
    background-color: $btn-hover-color
    color: #fff