@import '../main.sass'

.b-select
  display: inline-block
  width: 100%
  box-sizing: border-box
  vertical-align: middle
  color: $color
  font-size: 14px
  line-height: normal
  position: relative
  .b-select-selection
    display: block
    box-sizing: border-box
    outline: 0
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    position: relative
    transition: all .2s ease-in-out
    /deep/ .b-input
      cursor: pointer
    .b-select-icon-down
      position: absolute
      top: 50%
      right: 8px
      line-height: 1
      margin-top: -7px
      color: #808695
      transition: all .2s ease-in-out
  
  .b-select-selection-visible
    .b-select-icon-down
      -webkit-transform: rotate(180deg)
      transform: rotate(180deg)
      display: inline-block

  .b-select-dropdown
    min-width: 200px
    position: absolute
    will-change: top, left
    transform-origin: center top 0px
    top: 30px
    width: inherit
    max-height: 200px
    overflow: auto
    margin: 5px 0
    padding: 5px 0
    background-color: #fff
    box-sizing: border-box
    border-radius: 4px
    box-shadow: 0 1px 6px rgba(0,0,0,.2)
    position: absolute
    z-index: 900
    .b-select-dropdown-list
      padding-left: 0!important
      list-style-type: none
      min-width: 100%
      list-style: none
      .b-select-item
        margin: 0
        line-height: normal
        padding: 7px 16px
        clear: both
        color: $color
        font-size: 12px!important
        white-space: nowrap
        list-style: none
        cursor: pointer
        transition: background .2s ease-in-out
        &:hover
          background: $shallow-hover-color
      .b-select-item-focus
        background: $shallow-hover-color
        color: $default-color